<% include ./partials/header %>


<div style="padding: 20px 30px;">
    <div class="row">



        <div class="col s12 l9">
            <div class="card">
                <div class="card-action">
                    <strong>LIFE PURPOSE, CAREER, ENTREPRENEURSHIP</strong>
                </div>
                <div class="divider"></div>
                <div style="padding: 10px 25px;">
                    <a href="/post">Life purpose, a defense of the ego</a><br>
                    <div style="color: #9E9E9E">By Ramson, March 01, 2018</div>
                </div>
                <div class="divider"></div>
                <div style="padding: 10px 25px;">
                    <a href="#">Reschedule of Exams on 14/04/2018 - CIRCULAR</a><br>
                    <div style="color: #9E9E9E">By Ramson, March 01, 2018</div>
                </div>

                <div class="card-action">
                    <a href="/category" style="color: #000000">Show more</a>
                </div>
            </div>

            <div class="card">
                <div class="card-action">
                    <strong>LIFE PURPOSE, CAREER, ENTREPRENEURSHIP</strong>
                </div>
                <div class="divider"></div>
                <div style="padding: 10px 25px;">
                    <a href="#">Reschedule of Exams on 14/04/2018 - CIRCULAR</a><br>
                    <div style="color: #9E9E9E">By Ramson, March 01, 2018</div>
                </div>
                <div class="divider"></div>
                <div style="padding: 10px 25px;">
                    <a href="#">Reschedule of Exams on 14/04/2018 - CIRCULAR</a><br>
                    <div style="color: #9E9E9E">By Ramson, March 01, 2018</div>
                </div>

                <div class="card-action">
                    <a href="#" style="color: #000000">Show more</a>
                </div>
            </div>
            <div class="card">
                    <div class="card-action">
                        <strong>LIFE PURPOSE, CAREER, ENTREPRENEURSHIP</strong>
                    </div>
                    <div class="divider"></div>
                    <div style="padding: 10px 25px;">
                        <a href="#">Reschedule of Exams on 14/04/2018 - CIRCULAR</a><br>
                        <div style="color: #9E9E9E">By Ramson, March 01, 2018</div>
                    </div>
                    <div class="divider"></div>
                    <div style="padding: 10px 25px;">
                        <a href="#">Reschedule of Exams on 14/04/2018 - CIRCULAR</a><br>
                        <div style="color: #9E9E9E">By Ramson, March 01, 2018</div>
                    </div>
    
                    <div class="card-action">
                        <a href="#" style="color: #000000">Show more</a>
                    </div>
                </div>
        </div>

            <div class="col s12 l3">
                <div class="card">
                    <div class="card-action">
                        <strong>Categories</strong>
                    </div>
                    <div class="divider"></div>
                    <div style="padding: 10px 25px;">
                        <ul>
                            <li class="truncate">Life Purpose, Career, Entrepreneurship</li>
                            <li class="truncate">Health, Fitness, Nutrition</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-action">
                        <strong>Login</strong>
                    </div>
                    <div class="divider"></div>
                    <div style="padding: 10px 25px;">
                        <form>
                            <div class="input-field">
                                <input id="email" type="text" class="validate">
                                <label for="email" style="color: #000000">Email</label>
                            </div>
                            <div class="input-field">
                                <input id="password" type="password" class="validate">
                                <label for="password" style="color: #000000">Password</label>
                            </div>
                            <button class="btn waves-effect waves-light black" type="submit" name="action">Login</button>
                        </form>
                    </div>
                </div>
            </div>


    </div>

</div>


<% include ./partials/footer %>