body {
    background-color: #EEEEEE;
}

.content-spacing {
    padding: 10px 25px;
} 

nav ul li a{
    color: #000000;
}

   /* label underline focus color */
   .input-field input[type=text]:focus {
    border-bottom: 1px solid #000000;
    box-shadow: 0 1px 0 0 #000000;
  }